<html>

{% include head.html %}
{% include header.html %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2K3K52ESHW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2K3K52ESHW');
</script>
<style>
.textColor{
  color: #F2AA4C;
}
.customList {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
}

.demo {
    width:80%;
}
.demo ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.demo li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.demo img {
    display: block;
    height: auto;
    max-width: 100%;
}


</style>
<body>    
  <section>
    <div class="inner">
      <header class="major">
          <h1>{{ page.title }}</h1>
          <p class="textColor">
            All the models were designed by me and was printed at the 3D lab of Technische Universität Berlin. 
            I really enjoyed designing the Violin and Wall-E(My Favorite cartoon Character). The Violin was hand printed 
            using Acrylic paint.
          </p>
      </header>

      <header class = "major">
        <h1>Images from the Project</h1>
      
        <div class="munsterHackSlide">
          <ul id="mmImageSlider">
              <li data-thumb="{{ site.baseurl }}/assets/images/mm/mm_1.png">
                  <img src="{{ site.baseurl }}/assets/images/mm/mm_1.png" style="height: 100%; width: 100%;"/>
              </li>
              <li data-thumb="{{ site.baseurl }}/assets/images/mm/mm_2.png">
                  <img src="{{ site.baseurl }}/assets/images/mm/mm_2.png" style="height: 100%; width: 100%;"/>
              </li>
              <li data-thumb="{{ site.baseurl }}/assets/images/mm/mm_3.png">
                <img src="{{ site.baseurl }}/assets/images/mm/mm_3.png" style="height: 100%; width: 100%;"/>
              </li>
          </ul>
      </div>
      </header>


      <header class = "major">
        <h1>Tools & Softwares Used</h1>
        <p class="textColor"> 
          Game Development : Unity Engine<br>
          Printer : ZPrinter & Others
          <br>
        </p>
      </header>
    </div>
  </section>

{% include footer.html %}

</body>
<script>
$('#mmImageSlider').lightSlider({
    gallery: true,
    item: 1,
    loop:true,
    slideMargin: 0,
    thumbItem: 9,
    speed: 400, 
    auto: true,
    loop: true,
    slideEndAnimation: true,
    pause: 2000
});
  </script>
</html>