<html>

{% include head.html %}
{% include header.html %}
<style>
.textColor{
  color: #F2AA4C;
}
.customList {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
}

.demo {
    width:80%;
}
.demo ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.demo li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.demo img {
    display: block;
    height: auto;
    max-width: 100%;
}


</style>
<body>    
  <section>
    <div class="inner">
      <header class="major">
          <h1>{{ page.title }}</h1>
          <p class="textColor">
            All the models were designed by me and was printed at the 3D lab of Technische Universität Berlin. 
            I really enjoyed designing the Violin and Wall-E(My Favorite cartoon Character). The Violin was hand printed 
            using Acrylic paint.
          </p>
      </header>

      <header class = "major">
        <h1>Printed Objects</h1>
      
        <div class="munsterHackSlide">
          <ul id="3DPrintSlider">
              <li data-thumb="{{ site.baseurl }}/assets/images/3D/3D_1.jpeg">
                  <img src="{{ site.baseurl }}/assets/images/3D/3D_1.jpeg" style="height: 100%;"/>
              </li>
              <li data-thumb="{{ site.baseurl }}/assets/images/3D/3D_2.jpeg">
                  <img src="{{ site.baseurl }}/assets/images/3D/3D_2.jpeg" style="height: 100%;"/>
              </li>
              <li data-thumb="{{ site.baseurl }}/assets/images/3D/3D_3.jpeg">
                <img src="{{ site.baseurl }}/assets/images/3D/3D_3.jpeg" style="height: 100%;"/>
              </li>
              <li data-thumb="{{ site.baseurl }}/assets/images/3D/3D_4.jpeg">
                <img src="{{ site.baseurl }}/assets/images/3D/3D_4.jpeg" style="height: 100%;"/>
              </li>
              <li data-thumb="{{ site.baseurl }}/assets/images/3D/3D_5.jpeg">
                <img src="{{ site.baseurl }}/assets/images/3D/3D_5.jpeg" style="height: 100%;"/>
              </li>
          </ul>
      </div>
      </header>


      <header class = "major">
        <h1>Tools & Softwares Used</h1>
        <p class="textColor"> 
          3D Modeling : Autodesk Maya <br>
          Printer : ZPrinter & Others
          <br>
        </p>
      </header>
    </div>
  </section>

{% include footer.html %}

</body>
<script>
$('#3DPrintSlider').lightSlider({
    gallery: true,
    item: 1,
    loop:true,
    slideMargin: 0,
    thumbItem: 9,
    speed: 400, 
    auto: true,
    loop: true,
    slideEndAnimation: true,
    pause: 2000
});
  </script>
</html>