<!DOCTYPE html>
<html>

    {% include head.html %}
    {% include header.html %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2K3K52ESHW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2K3K52ESHW');
</script>
    <style>

.iframebox {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 1%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#receiver {
 margin-top: 300px;
}


    </style>
    <body>
        <section id="bgImagecontact">
            <div class="inner">
                <span class="image">
                    <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
                </span>
                <header class="major">

                    <h1>{{ page.title }}</h1>

                </header>
            
            </div>
            
        </section>
        
        <section id="bgImagecontact" class="major">
            <div class="inner">
                <span class="image">
                    <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
                </span>
               
                {{ content }}
                <br> <br> <br> <br>
            </div>           
        </section>
       
        {% include footer.html %}

    
</body>

<script>

function urlChange() {
    alert("Message Sent");
}

</script>

</html>
