<html>

{% include head.html %}
{% include header.html %}
<style>
.textColor{
  color: #F2AA4C;
}
.customList {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
}

.demo {
    width:80%;
}
.demo ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.demo li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.demo img {
    display: block;
    height: auto;
    max-width: 100%;
}


</style>
<body>    
  <section>
    <div class="inner">
      <header class="major">
          <h1>{{ page.title }}</h1>
          <p class="textColor">For a short while I was supporting the minor development and updation of an existing mobile App
            for a company based in Berlin, <a href="https://karolabs.com" target="_blank">Karo Labs</a>. The entire application
            was developed already and I was brought in to make some changes after the previous person who managed the app left 
            the organization.
            </p>
      </header>

      <header class = "major">
        <h1>Tools & Softwares Used</h1>
        <p class="textColor"> Unity Game Engine</p>
      </header>

      <header class ="major">
        <h1>Team Information</h1>
        <ul class="textColor customList" style="color: #F2AA4C;">
          <li>
            <a href = "https://www.linkedin.com/in/rahult5/">
              Rahul
            </a> - Development using Unity Engine and testing on Android devices and Bluestacks. 
          </li>
        </ul>
      </header>

      <header class ="major">
        <h1>Project Description</h1>
        <p class="textColor">My task with this app was to get their current cms setup moved from a private server (managed by the
          existing developer) to something that can be managed and accessed by the stakeholders of Karo Labs. Initially I setup the
          system to use Firebase for asset management (images and videos) since the free tier of Firebase comes with some limitations
          I had to switch it to something else, a cost free setup. That's when I thought of managing the assets from Dropbox and load them
          into the application as needed. After completing the CMS setup I had to make some aesthetic changes in the application,
          UI design changes and some cleanup works to make the application look better in general. 
        </p>
        <br>
        <iframe src="https://drive.google.com/file/d/10vKm0DPMKG_LseN6BRh2cuLK1Z107Wgy/preview" width="1080" 
        height="480" style="display: block;margin: 0 auto;" allow="autoplay" allowfullscreen="true"></iframe>
      </header>

    </div>
  </section>

{% include footer.html %}

</body>
<script>
$('#vrHackathonLightSlider').lightSlider({
    gallery: true,
    item: 1,
    loop:true,
    slideMargin: 0,
    thumbItem: 9,
    speed: 400, 
    auto: true,
    loop: true,
    slideEndAnimation: true,
    pause: 2000
});
  </script>
</html>